.li-texts {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  /* font-size: 12px; */
  line-height: 18px;

  color: #0c1947;
}

.complaint-white-box {
  background-color: #ffffff;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
  border-radius: 24px;
  padding: 30px;
}

.out-stru {
  border: 3px solid #3b968a;
  border-left: 30px solid #3b968a;
  border-radius: 20px 6px 6px 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 200px;
  gap: 1rem;
  position: relative;
  width: 30% !important;
}

.div-----width {
  width: 65%;
}
.cd-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */

  color: #0c1947;
}

.circle-create {
  border: 2px solid #3b968a;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: cenetr;
  position: absolute;
  background-color: white;
  left: -14px;
}

@media (max-width: 992px) {
  .out-stru {
    width: 40% !important;
  }
}

@media (max-width: 900px) {
  .out-stru {
    width: 50% !important;
  }
}

@media (max-width: 660px) {
  .out-stru {
    width: 70% !important;
  }
}

@media (max-width: 500px) {
  .out-stru {
    width: 95% !important;
  }

  .complaint-white-box {
    padding: 12px;
  }
}
