* {
  padding: 0px;
  margin: 0px;

  p {
    font-family: "Poppins";
  }
}
.footer-box {
  background-color: #f8f8f8;
}

.footer-text-care {
  font-size: 1rem;
}

p {
  font-family: "Poppins";
  text-align: justify;
  font-weight: 400;
  font-size: 30px;

  color: #091f57;
}

.text-footer {
  color: #000000;
  font-weight: 300;
  font-family: "Sansation Light";
}

.footer-flex {
  display: flex;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.footer-p-text {
  color: #091f57;
  font-weight: 400;
  font-size: 25px;

  text-align: justify;
  font-family: "Poppins";
}

.copy-right {
  position: relative;
}

.copy-right-ab {
  position: absolute;
  top: 30px;
  left: 12px;
  font-size: 15px;
  align-items: center;
}

@media (min-width: 1200px) {
  .copy-right-ab {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
  }

  .p-div {
    padding-left: 100px;
  }
}

@media (max-width: 760px) {
  .copy-right-ab {
    position: absolute;
    top: 20px;
    left: 12px;
    /* font-size: 15px; */
  }
}

@media (max-width: 650px) {
  .footer-p-text {
    font-size: 22px;
    margin-left: -60px;
    text-align: justify;
    font-family: "Poppins";
    margin-top: 10px;
  }
  .footer-text-care {
    font-size: 10px;
  }
}

@media (max-width: 570px) {
  .copy-right-ab {
    position: absolute;
    top: 10px;
    left: 12px;
    /* font-size: 15px; */
  }
  p {
    font-size: 20px;
    padding: 20px;
  }
  /* .footer-text-care {
    font-size: 70%;
  } */
}

@media (max-width: 400px) {
  .copy-right-ab {
    position: absolute;
    top: 10px;
    left: 12px;
  }
}
