* {
  padding: 0px;
  margin: 0px;
}

.care-fore-head {
  font-family: "Sansation Light";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 56px;
  /* identical to box height */
  margin-left: 10px;

  letter-spacing: 0.05em;

  color: #000000;
}

.btn-warning {
  position: fixed !important;
  right: 2rem;
}
.logo-text {
  font-family: "Sansation Light";
}

.border-bottom-3 {
  position: sticky !important;
  top: 0px !important;

  background-color: white !important;
  z-index: 10;
}

.button-header {
  background-color: #3b968a;
  border-radius: 10px;
  border: none;
  width: 50%;
  height: 40px;
  text-align: center;
}

.link-text {
  color: black !important;
}

.back-color {
  background-color: linear-gradient(
    94.27deg,
    rgba(59, 150, 138, 0.5) 0.45%,

    rgba(59, 150, 138, 0.5) 97.47%
  );
}

@media (max-width: 350px) {
  .px-5 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
