* {
  padding: 0px;
  margin: 0px;

  font-family: "Poppins", sans-serif;
}

.care-imgess {
  width: 60% !important;
}

h2,
::placeholder {
  font-family: "Poppins", sans-serif;
}

.care-fore {
  font-family: "Sansation Light";
  font-weight: 300;
}

.li-text {
  font-weight: 500 !important;
  font-family: "Poppins" !important;
  /* font-size: px; */
  font-weight: 500 !important;
  /* color: black !important; */
  text-decoration: none !important;
  font-style: none;
  font-size: 15px;
}

.img {
  position: relative;
}
.back-color {
  background-image: linear-gradient(
    94.27deg,
    rgba(59, 150, 138, 0.5) 0.45%,
    rgba(59, 150, 138, 0.5) 97.47%
  );
  height: 300px;
}
.hero-box {
  display: flex;
  justify-content: space-around;
}

.care-for {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-size {
  width: 50%;
  margin-top: 50px;
}

.img-size2 {
  width: 60%;
  margin-top: 160px;
}

.img---box {
  background-image: url("../img/image\ 20.png");

  background-size: cover;
  height: 50vw;
  position: relative;
}

.login----box {
  border-radius: 20px;
  /* height: 20vw; */
  background-color: white;
  height: 24vw;
  width: 60vh;
  position: absolute;
  right: 40px;

  top: 0px;
  bottom: 0px;
  margin: auto;
}

.login-text {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.input {
  /* margin-bottom: 20px; */
  background-color: rgba(62, 86, 115, 0.2) !important;
  border-radius: 8px;
}

.login-button {
  margin-top: 40px;
}

.eye-passwords {
  position: relative;
}

.eye-absulate {
  position: absolute;
  top: 20px;
  right: 10px;
}

.btn-primary {
  background-color: #3b968a !important;
}

/* .form-control {
  background-color: rgba(62, 86, 115, 0.2) !important;
} */

.care-for-h {
  color: #000000;
  font-family: "Sansation Light";
  font-weight: 600;
  letter-spacing: 0.05em;
  display: block;
}

::placeholder {
  color: black !important;
  font-weight: 500;
  font-family: "Poppins";
}
@media (min-width: 1400px) {
  .container-fluid {
    width: 1200px;
  }

  .login----box {
    border-radius: 20px;
    /* height: 20vw; */
    background-color: white;
    height: 18vw;
    width: 60vh;
    position: absolute;
    right: 40px;

    top: 0px;
    bottom: 0px;
    margin: auto;
  }
}

@media (max-width: 1100px) {
  .login----box {
    position: absolute;
    right: 40px;

    top: 0px;
    bottom: 0px;
    margin: auto;
  }
}

@media (max-width: 1075px) {
  .login----box {
    height: 30vw;
    width: 45vh;
  }
}

@media (max-width: 950px) {
  .login----box {
    height: 30vw;
    width: 45vh;
  }
}

@media (max-width: 860px) {
  .img-size {
    width: 60%;
    margin-top: 50px;
  }

  .care-img {
    width: 40vw !important;
  }

  .img-size2 {
    width: 70%;
    margin-top: 160px;
  }

  .login----box {
    height: 35vw;
    width: 35vh;
  }
}

@media (max-width: 760px) {
  .img-size {
    width: 50%;
    margin-top: 50px;
  }

  .img-size2 {
    width: 80%;
    margin-top: 160px;
  }

  .login----box {
    height: 35vw;
    width: 35vh;
  }
  .eye-absulate {
    position: absolute;
    top: 10px !important;
    right: 10px;
  }

  .login-text {
    margin-bottom: 40px;
  }

  .input {
    /* margin-bottom: 20px; */
    background-color: rgba(62, 86, 115, 0.2) !important;
    border-radius: 8px;
    margin-bottom: 2px;
  }

  .login-button {
    margin-top: 20px;
  }

  .eye-passwords {
    position: relative;
  }

  .eye-absulate {
    position: absolute;
    top: 20px;
    right: 10px;
  }
}

@media (max-width: 650px) {
  .img-size {
    width: 70%;
    margin-top: 50px;
  }

  .img-size2 {
    width: 90%;
    margin-top: 120px;
  }
  .login----box {
    height: 40vw;
    width: 35vh;
  }
}

@media (max-width: 550px) {
  .login----box {
    height: 45vw;
    /* width: 25vh; */

    margin: 0px;
  }

  .login-text {
    margin-bottom: 15px;
  }

  .text--hero {
    padding: 0px;
    margin: 0px;
  }
}

@media (max-width: 450px) {
  .img-size {
    width: 80%;
    margin-top: 50px;
  }

  .img---box {
    height: 60vw;
  }

  .img-size2 {
    width: 90%;
    margin-top: 100px;
  }

  .login----box {
    height: 50vw;
    max-width: 20vh;

    top: 20px;
  }

  .login-text {
    margin-bottom: 10px;
  }
  .login-button {
    margin-top: 5px;
  }
}

@media (max-width: 350px) {
  .login-text {
    margin-bottom: 2px;
  }
}
