* {
  margin: 0px;
  padding: 0px;
}

.color-innnn {
  background-color: rgba(225, 255, 251, 0.75);
  box-shadow: 0px 4px 4px rgba(9, 31, 87, 0.25);
  border-radius: 24px;
  padding: 30px;
}

.ul----text {
  font-family: "Poppins";

  font-weight: 500;
  font-size: 12px;

  color: #0c1947;
}
.h6----text {
  font-family: "Inter";

  font-weight: 500;

  /* or 18px */

  color: #0c1947;
}

.img--1 {
  border-radius: 10px;
}
.white {
  background: rgba(225, 255, 251, 0.75);
  box-shadow: 0px 4px 4px rgba(9, 31, 87, 0.25);
  border-radius: 24px;
  /* width: 80% !important; */
}

@media (max-width: 500px) {
  .grid-product {
    gap: 0px;
  }
}
