* {
  margin: 0px;
  padding: 0px;
}

.sidebar-width {
  width: 20%;
}

.btn-secondary {
  font-size: 10px !important;
  padding: 10px !important;
  /* width: 100% !important; */
}
.width----drop {
  width: 35%;
}

.main {
  width: 78%;
  margin-left: 10px;
}
.sidebar-boxs::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

.sidebar-boxs::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 5px;
}

.oreder-grid::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

.oreder-grid::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 5px;
}
.order-box {
  display: flex;

  justify-content: space-between;
}

.sidebar-boxs {
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
  margin-right: 20px;
  margin-top: 10px;
}

.select-box {
  margin-top: 8px;

  color: #3b968a;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #3b968a;
  text-align: center;
  background-color: white;
}
.option-box {
  text-align: center;
  font-weight: 500;
  font-family: "Poppins";
  line-height: 14px;
}

.oreder-grid {
  background-color: #ffffff;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  padding: 20px;
  gap: 10px;
}
.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  background-color: rgba(225, 255, 251, 0.75);
  box-shadow: 0px 4px 4px rgba(9, 31, 87, 0.25);
  border-radius: 24px;

  /* margin: auto; */
  /* width: 90%; */

  align-items: center;
  justify-content: center;
}
.li-item {
  list-style: none;

  font-weight: 500;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;

  /* or 50% */

  display: flex;

  color: #0c1947;
}

@media (max-width: 1000px) {
  .oreder-grid {
    background-color: #ffffff;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 920px) {
  .oreder-grid {
    padding: 10px;
    /* overflow-y: auto; */
  }
}

@media (max-width: 750px) {
  .oreder-grid {
    background-color: #ffffff;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* overflow-y: auto; */
  }

  .order-box {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
  }

  .d-flex.w-25 {
    width: 100% !important;
  }

  .select-box {
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .oreder-grid {
    padding: 0px;
    /* overflow-y: auto; */
  }
  .order-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px;
    margin: 0px;
    gap: 0px;
  }

  .width----drop {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .oreder-grid {
    padding: 0px;
    /* overflow-y: auto; */
  }

  .order-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px;
    margin: 0px;
    gap: 0px;
  }
}
