* {
  font-family: "Poppins", sans-serif;
}

/* body {
 
} */

.nav-link {
  text-decoration: none;
}

.active .btn-color {
  background-color: #3b968a !important;
  border-radius: 30px !important;
  color: white !important;
}

.icon {
  color: #3b968a !important;
}
